.button{
    width: 170px;
    height: 47px;
    /* top: 13px; */
    border-radius: 12px;
    border: 1px;
    padding: 10px 16px 10px 10px 18px;
    background-color: #121212;
    font-family: Poppins;
    font-weight: 600px;
    font-size: 18px;
    letter-spacing: 0.25px;
    align-content: center;
    justify-content: center;
    color: #34C94B;
    right: 35px;
    position: relative;
}
.button:hover{
    cursor: pointer;
}
