.container{
    width: 95%;
    /* height: 592px;   */
    top:362px;
    left:31px;
    gap: 32px;
    background-color: black;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    position: absolute;
}
.myCardContainer{
    width:100%;
    max-width: 1376px;
    /* height: 280px; */
    /* position: absolute; */
    /* gap:32px; */
    /* border: 1px solid blue; */
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
}

.albumHeader{
    position: relative;
}
.albumtitle{
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 122px;
    height: 30px;
}
.collapse{
    color: green;
    width: 85px;
    height: 30px;
    left: 1287px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
}
.myCardGrid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 93%;
    /* height:232px; */
    /* margin-bottom: 30px; */
    /* top:48px; */
    /* left:12px; */
    position: relative;
    /* border: 1px solid green; */
    overflow: hidden;
}

.customprev,
.customnext{
    position: absolute; 
    top: 45%;
    z-index: 10;
    cursor: pointer;
}
.customprev{
    left:0px;
}
.customnext{
    right:0px;
}