.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.herocontent{
  color: white;
  font-family: Poppins;
  font-weight: 600;
}